@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*overall style elements*/
body {
    margin: auto 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2 {
    font-size: 1.18em;
    font-weight: bold;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    font-size: 1em;
    font-weight: bold;
}

header,
footer {
    display: inline;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    padding-left: 50px;
}

footer section {
    width: 33%;
}


/*Style-wide class elements*/
.label {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.clear {
    clear: both;
}

.roundblock {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: max-content;
    font-size: 1.1em;
}

.fa-map-marker-alt {
    padding: 10px 20px;
}

.filterbutton {
    border: solid 2px #D9D9D9;
    border-radius: 20px;
    padding-right: 10px;
    margin: 10px;
}

.filterbutton .label {
    font-size: 1em;
}

.filterbutton .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 35px;
    padding: 10px 0;
    border-radius: 50%;
    text-align: center;
    margin: -2px;
    margin-right: 3px;
}

.filterbutton:hover {
    border: solid 2px #0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
}

.filterbutton:hover .fas {
    background-color: #0065FC;
    color: #DEEBFF;
}

.down {
    margin-top: 20px;
}

.fa-star {
    color: #0065FC;
}

.popular-indv,
.housing-indv,
.activities-indv {
    margin: 10px 15px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 5px #D9D9D9;
}

.popular-indv::after,
.activities-indv::after {
    content: "";
    clear: both;
    display: table;
}

.popular-indv p {
    margin-bottom: 0;
}

.popular-indv img {
    float: left;
    width: 125px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.pop-txt h2 {
    padding-top: 1%;
    margin-top: 0;
}

.pop-txt h2,
.pop-txt p {
    padding-left: 43%;
}

.housing-indv img {
    width: 240px;
    max-width: 240px;    /*Edge compatibility*/
    height: 115px;
    max-height: 115px;    /*Edge compatibility*/
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.housing-indv h2,
.housing-indv p {
    margin: 5px 0;
}

.indv-link {
    display: block;
    width: 100%;
    height: 100%;
}

.activities-indv {
    white-space: nowrap;
}

.activities-indv img {
    width: 100%;
    max-width: 100%;    /*Edge compatibility*/
    height: 76%;
    max-height: 76%;    /*Edge compatibility*/
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0 0;
}

/*Unique block id elements*/
#logo {
    width: 10%;
    float: left;
    padding: 20px 10px;
}

#subscribe {
    color: #0065FC;
    font-weight: bold;
    float: right;
    padding: 30px;
}

#logo,
#navsearch,
#housing-block {
    margin-left: 30px;
}

#menu {
    display: inline-flex;
    float: right;
}

#housing-menu,
#activities-menu {
    display: block;
    padding: 30px;
}

#housing-menu:hover,
#activities-menu:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 29px;
    border-bottom: none;
}

#srch_web,
#srch_mob {
    background-color: #0065FC;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 30px;
}

#infolabel {
    margin: 30px;
}

#infolabel .fa-info {
    color: #0065FC;
    background-color: white;
    border: 2px solid #D9D9D9;
    width: 24px;
    padding: 4px 0;
    border-radius: 50%;
    text-align: center;
    margin: -2px;
    margin-right: 3px;
}

#popular-block,
#housing-block {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 0;
}

#popular-block {
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin-right: 20px;
}

#popular-display {
    width: 100%;
}

#pop-title {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

#housing-block {
    max-width: 60%;
}

#housing-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#housing-display h1 {
    padding-right: 30px;
}

#housing-more {
    padding-left: 20px;
}

#activities-block {
    max-width: 100%;
    border-radius: 20px;
    padding: 30px;
}

#activities-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
        "act-1 act-2 act-4 act-5"
        "act-1 act-3 act-4 act-6";
    grid-gap: 20px;
}


#act-1 {grid-area: act-1;}
#act-2 {grid-area: act-2;}
#act-3 {grid-area: act-3;}
#act-4 {grid-area: act-4;}
#act-5 {grid-area: act-5;}
#act-6 {grid-area: act-6;}


#act-1 img,
#act-4 img {
    height: 90%;
    min-height: 90%;    /*Edge compatibility*/
}


#act-2 img {
    object-position: center;
}

/* UNchecked stars ; to be replaced with a script */
#hous-1-star-5,
#hous-3-star-5,
#hous-4-star-4,
#hous-4-star-5,
#hous-5-star-5,
#pop-2-star-5,
#pop-3-star-5 {
    color: #D9D9D9;
}

/*Narrow web browser responsive flex*/
@media (max-width: 1420px) {
    #popular-block {
        padding: 15px;
    }

    #housing-block {
        max-width: 65%;
    }
}

@media (max-width: 1310px) {
    .housing-indv {
        margin: 10px;
    }

    .housing-indv img {
        width: 230px;
        max-width: 230px;    /*Edge compatibility*/
    }

    .popular-indv {
        margin: 10px 0;
    }

    .popular-indv h2 {
        font-size: 1.15em;
    }

    #hous-1 h2 {
        font-size: 1.15em;
    }

    #popular-block {
        padding: 10px;
    }
}
@media (max-width: 1220px) {
    .housing-indv {
        margin: 5px;
    }
    
    .housing-indv img {
        width: 250px;
        max-width: 250px;    /*Edge compatibility*/
    }
    
    #popular-block {
        width: 35%;
        padding: 15px;
    }

    #housing-block {
        max-width: 52%;
        padding: 30px 10px;
    }
}

@media (max-width: 1075px) {
    .housing-indv {
        margin: 5px 0 5px 30px;
    }
    
    .housing-indv img {
        width: 250px;
        max-width: 250px;    /*Edge compatibility*/
    }
    
    #hous-1 h2 {
        font-size: 1em;
    }
    
    #popular-block {
        width: 45%;
    }

    #housing-block {
        max-width: 42%;
        padding-left: 10px;
    }

    #housing-block h1 {
        margin-top: 3px;
    }
}

/* Mobile responsive settings, ordered by ratio */

/* Research screen-width specific button*/
#srch_web {
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    display: inline-block;
}

#srch_mob {
    padding: 10px;
    border-radius: 10px;
    display: none;
}

@media (min-width: 320px) and (max-width: 450px) {
    #srch_web {
        display: none;
    }

    #srch_mob {
        display: inline-block;
    }
}

/*ultra-narrow screen (smartwatch ?)*/
@media (max-width: 320px) {
    .roundblock {
        flex-wrap: wrap;
        width: 100%;
        background-color: inherit;
    }
    
    #srch_web {
        border-radius: 10px;
        margin-left: 30px;
    }
}


/* General settings ; 6/5 covers almost-square tablets, and all portrait displays*/
@media (max-aspect-ratio: 6/5) {

    footer {
        display: block;
        padding-left: 20px;
        padding-bottom: 40px;
        margin-top: 40px;
        background-color: #F2F2F2;
    }

    footer section {
        width: 100%;
        padding-top: 5px;
        font-size: 90%;
    }

    .fa-map-marker-alt {
        padding: 10px 14px;
        margin-left: 4px;
    }

    .filterbutton:active {
        border: solid 2px #0065FC;
        background-color: #DEEBFF;
    }

    .filterbutton:active .fas {
        background-color: #0065FC;
        color: #DEEBFF;
    }

    .popular-indv,
    .housing-indv,
    .activities-indv {
        width: 100%;
        margin: 5px 0;
        padding: 0;
        font-size: 90%;
    }

    .popular-indv img {
        float: left;
        width: 38%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

    .pop-txt h2 {
        padding-top: 20px;
    }

    .pop-txt h2,
    .pop-txt p {
        padding-left: 40%;
    }

    .housing-indv h2,
    .housing-indv p {
        padding-left: 10px;
    }

    .housing-indv img {
        height: 125px;
        width: 100%;
        max-width: 100%;
    }

    .activities-indv {
        width: 100%;
        padding: 10px;
    }


    .activities-indv h2 .activities-indv p {
        padding-left: 10px;
        margin-top: 10px;
    }

    .activities-indv img,
    #act-1 img,
    #act-4 img {
        height: 125px;
        min-height: 0%;        /*Edge compatibility disabling*/
        object-position: center;
    }

    #menu {
        width: 100%;
        float: none;

    }

    #housing-menu,
    #activities-menu {
        width: 50%;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;

    }

    #housing-menu:hover,
    #activities-menu:hover,
    #housing-menu:active,
    #activities-menu:active {
        border-top: none;
        border-bottom: 2px #0065FC ridge;
        padding-top: 30px;
        margin-bottom: 18px;
    }    

    #filters .down {
        margin-right: 100%;
    }

    #housing-block {
        max-width: 100%;
        padding: 20px;
        background-color: inherit;
        margin-left: 0;
    }

    #housing-block h1 {
        font-size: 1.2em;
    }

    #housing-more {
        font-size: 1em;
    }

    #popular-block {
        float: none;
        width: 100%;
        margin-right: 0;
        border-radius: 0;
    }

    #popular-display {
        width: 92%;
    }

    #activities-block {
        padding: 0 20px;
    }

    #activities-display {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Activities grid specific settings to prevent overflow for any ratio */
@media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 9/5) {
    .activities-indv h2 {
        font-size: 1.1em;
    }

    #activities-display {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "act-1 act-2 act-4""act-1 act-3 act-4""act-5 act-5 act-6";
    }
}

@media (min-aspect-ratio: 6/5) and (max-aspect-ratio: 7/5) {
    .activities-indv h2 {
        font-size: 1.1em;
    }

    #housing-block {
        min-width: 100%;
        margin: 0 15px;
    }

    #activities-display {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "act-1 act-2""act-1 act-3""act-4 act-5""act-4 act-6";
    }
}

@media (min-aspect-ratio: 6/5) and (max-aspect-ratio: 53/25) {
    .activities-indv h2 {
        font-size: 1em;
    }

    #activities-display {
        grid-gap: 10px;
    }
}